/* 
    Global Style Sheet
*/

@import"https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap";


:root {
    font-family: JetBrains Mono, monospace;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --var-background-color: #0a0316;
    --var-text-color: #fff5c8;
    --var-text-dim-color: #9e8d76;
    --var-text-accent-color: #ff275d;
    --var-text-accent-dim-color: #aa1636;

}

.content-auto-margins {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
}

#content {
    margin-left: 40px;
    margin-right: 40px;
}

#header {
    clear: both;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;

    font-size: 16px;
    line-height: 1.5;
}


body {
    background-color: var(--var-background-color);
    color: var( --var-text-color);
}


h1, h2, h3, h4, h5 {
    font-weight: initial;
}

h1 {
    color: var( --var-text-accent-color);
    font-size: 42px;
    padding: 0;
    margin: 25px 0 0 0;
}

h2 {
    color: var( --var-text-accent-color);
    font-size: 28px;
}

h3 {
    color: var( --var-text-accent-color);
    font-size: 21px;
    margin: 15px 0 5px 0;   
}




p {
    margin-top: 3px;
}

code {
    display: block;
    background-color: #282828;
    color: #ccc;
    width: 100%;
    padding: 5px 5px 10px 15px;
    margin: 10px 0;
    white-space: pre;
    box-shadow: 6px 6px #000;
    overflow-x: auto;
}


/* owo */

#tooltip {
    border-bottom: 1px dotted;
}


.block {
    display: block;
    background-color: #282828;
    color: #ffffff;
    width: 100%;
    padding: 5px 5px 10px 15px;
    margin: 10px 0;
    white-space: pre;

    overflow-x: auto;
}

.footer {
    padding-top: 2em;
    
    text-align: center;
}

nav {
    padding-top: 15px;
    padding-bottom: 25px;
}

.navl {
    margin-right: 1.5rem
}

.navl.active {
    color: var(--var-text-accent-dim-color);
    cursor: default;
    text-decoration: none
}

a {
    color: var(--var-text-accent-color);
    text-decoration: underline;
}

/* add sth*/

a.external:after {
    content: "↗";
}

div.progress {
    border-style: solid;
    border-width: 1px;
}

div.progress .bar {
    margin: 2px 2px 2px 2px;
    margin-right: calc(100% - var(--bar-completeness));
    content: var(--bar-completeness);
}

